#main-content {
    min-height: calc(100vh - 110px);
    margin-bottom: 110px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 110px;
    z-index: 100;
    background-color: white;
}

footer > .container {
    position: relative;
}

.table-center-50 {
    margin: auto;
    width: 50% !important; 
 }

 .table-center-100 {
    margin: auto;
    width: 100% !important; 
 }

 .margin-center {
     margin: 0px auto 0px auto;
 }


 .expand-vertically {
     display: flex;
     flex-direction: column;
 }

 .expand-vertically > div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}